/* Navbar Styles */
.navbarScroll.navbarDark {
    background-color: black;
}

/* Hero Section Styles */
.bgimage {
    height: 100vh;
    background: url('images/red2.jpg');
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero_title {
    font-size: 3.5rem;
}

.hero_desc {
    font-size: 1.75rem;
}

/* Section Spacing */
#about,
#services,
#portfolio,
#contact {
    margin-top: 3rem;
    padding-top: 3rem;
}

/* Text Size for Sections */
#portfolio,
#about,
#contact {
    font-size: 18px;
}

.text-center {
    font-size: 28px;
    display: block;
    text-align: center;
}

/* Portfolio Card Styles */
.card-body {
    height: auto;
    width: 100%;
    overflow: auto;
}

.card-img-top {
    height: auto;
    width: 100%;
}

.card-title {
    font-size: 24px;
    display: block;
    text-align: center;
}

.card-text {
    text-align: center;
}

/* Contact Section Styles */
#contact {
    padding-bottom: 3rem;
}

/* About Section Image Styles */
.imageAboutPage {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

/* Services Section Styles */
.servicesText.card {
    height: auto;
    cursor: pointer;
    text-align: center;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}

/* Social Media Icons Styles */
.social-icons {
    font-size: 24px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
    color: #008000;
}

.fab {
    color: #000000;
}

/* Footer Styles */
#footer {
    background-color: #A6E0DD;
    text-align: center;
    padding: 3px 0;
}

#footer p {
    font-size: 14px;
}

/* Font Family */
html, body, html * {
    font-family: 'Roboto Slab', serif;
    
label {
    display: block;
    margin-bottom: .2em;
}
